/* NAVIGATION BAR */
.navbar {
  margin-top: 0;
  padding: 0;
  background-color: #222;
  position: sticky;
  z-index: 6;
}
a,
.navbar-nav,
.navbar-light .nav-link {
  color: #9fffcb;
  margin-right: 10px;
}
.navbar-light .nav-link:hover {
  color: white;
}
.navbar-brand {
  font-size: 1.4em;
  margin-left: 15px;
  color: #9fffcb !important;
}
.navbar-brand:hover {
  color: #9fffcb !important;
}
nav .nav-link {
  color: #9fffcb !important;
}

nav .nav-link:hover {
  color: white !important;
  transform: scale(1.1);
}

/* CAROUSEL */
.carousel-item {
  width: 100%;
  height: 700px;
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: auto;
  top: 40%;
  z-index: 5;
  text-align: center;
  margin-top: -25px;
}

.titleMessage .heading p {
  color: #9fffcb;
  text-shadow: 2px 3px 6px #000;
  font-weight: 400;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 3rem;
}

.titleMessage .heading .sub {
  font-size: 1.5rem;
}

/* ABOUT SECTION */
.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 80%;
  border-radius: 50%;
  align-content: center;
}

.aboutWriting {
  padding-left: 30px;
  padding-top: 30px;
}

/* SERVICES SECTION */
#services h1 {
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
  color: #424242;
}

#services h3 {
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
  color: #424242;
  width: 100%;
  padding-top: 30px;
}

#services .container {
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.serv-container .row .serv-items {
  width: 100%;
  padding: 15px;
  margin: 0;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.row .card {
  margin: 0 auto;
  float: none;
  widows: 100%;
  position: relative;
  background-color: #424242;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.list-item {
  width: 70%;
  margin: 0 20%;
}

/* CONTACT SECTION */
.contactButton {
  color: #fff;
  background-color: #000;
  padding: 0.5rem 0.8rem;
  display: inline-block;
  margin-top: 15px;
  border: 1px solid #c0392b;
  border-radius: 3px;
}

.contactButton:hover {
  color: #fff;
  background-color: #c0392b;
  border: 1px solid #000;
  text-decoration: none;
}

#contact h1 {
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
  color: #424242;
}

#contact p {
  margin-top: 25px;
}

/* COPYRIGHT SECTION */
.copyrightSection {
  background-color: #444;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}
